:root {
  /* Primary */
  --BrightBlue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  /* Neutral */
  /* Light Theme */
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
  /* Dark Theme */
  --VeryDarkBlue: hsl(235, 21%, 11%);
  --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlue: hsl(234, 39%, 85%);
  --LightGrayishBlueHover: hsl(236, 33%, 92%);
  --DarkGrayishBlue: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
  --VeryDarkGrayishBlue: hsl(237, 14%, 26%);
  /* Typography */
  /* Body Copy */
  --Font: 'Josefin Sans', sans-serif;
  --FontSize: 18px;
  /* Font */
  --W1: 400;
  --W2: 700;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}
.a-header {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--VeryLightGray);
}
.a-header__title {
  letter-spacing: 15px;
}
.a-header__switch {
  cursor: pointer;
}
.light-theme {
  display: none;
}
.moon-inative {
  display: none;
}
.sun-active {
  display: block;
}
.a-header ~ section {
  margin-top: 25px;
  width: 100%;
}
.b-taskCreator {
  width: 100%;
  height: 51px;
  border-radius: 5px;
  background: var(--VeryLightGray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
}
.b-taskCreator input {
  background: var(--VeryLightGray);
  font-size: var(--Font);
  font-weight: var(--W2);
  width: 87%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: text;
  transition: .3s;
}
.b-taskCreator input:focus {
  cursor: text;
  caret-color: var(--BrightBlue);
  outline: 0;
}
.circle {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  border: 1px solid var(--LightGrayishBlue);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.completed {
  background: var(--CheckBackground);
  border: none;
}
.c-tasksList {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tasks {
  list-style: none;
  background: var(--VeryLightGray);
  width: 100%;
  height: 51px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 0;
  border-bottom: 1px solid var(--LightGrayishBlue);
  transition: .3s;
}
.delete {
  display: block;
}
.deleteDark {
  display: none;
}
.delete-dark-mode {
  display: none !important;
}
.deleteDark-dark-mode {
  display: block;
}
.tasks:hover .delete, .tasks:hover .deleteDark {
  visibility: visible;
  transform: translate(0px, 3px);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.tasks p {
  text-indent: 6px;
  font-weight: var(--W2);
  color: var(--VeryDarkBlue);
  width: 76%;
  overflow: hidden;
}
.tasks p del {
  opacity: 0.2;
}
.manager {
  width: 100%;
  height: 122px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: .3s;
  overflow: hidden;
}
.manager-up {
  background: var(--VeryLightGray);
  width: 100%;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
.manager-up :nth-child(2) {
  cursor: pointer;
  color: var(--DarkGrayishBlue);
  font-weight: var(--W2);
}
.manager-actions {
  background: var(--VeryLightGray);
  width: 100%;
  height: 51px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}
.manager-actions :nth-child(1) {
  margin-right: 25px;
}
.manager-actions :nth-child(3) {
  margin-left: 25px;
}
.items-left {
  color: var(--DarkGrayishBlue);
  font-weight: var(--W2);
}
.manager-actions p, .manager-actions ~ p {
  cursor: pointer;
  color: var(--DarkGrayishBlue);
  font-weight: var(--W2);
}
.manager-actions p:hover, .manager-actions ~ p:hover {
  color: var(--VeryDarkGrayishBlue);
}
.manager-actions p:active, .manager-actions ~ p:active {
  color: var(--BrightBlue);
}
.dragndrop {
  color: var(--DarkGrayishBlue);
  font-weight: var(--W2);
  text-align: center;
  margin-top: 35px;
}
.manager-dark-mode .manager-actions, .manager-dark-mode .manager-up,
.taskCreator-dark-mode, 
.taskCreator-dark-mode input, .tasks-dark-mode {
  background: var(--VeryDarkDesaturatedBlue);
}
.taskCreator-dark-mode input, .tasks-dark-mode p {
  color: var(--LightGrayishBlue);
}
.taskCreator-dark-mode input::placeholder {
  color: var(--DarkGrayishBlue);
}
.taskCreator-dark-mode .circle, .tasks-dark-mode .circle {
  border: 1px solid var(--VeryDarkGrayishBlue);
}
.tasks-dark-mode {
  border-bottom: 1px solid var(--VeryDarkGrayishBlue);
}
.manager-dark-mode p {
  color: var(--DarkGrayishBlue);
}
.manager-dark-mode div p:hover, .manager-dark-mode div ~ p:hover {
  color: var(--LightGrayishBlue);
}
.manager-dark-mode div p:active, .manager-dark-mode div ~ p:active {
  color: var(--BrightBlue);
}
@media (min-width: 459px) {
  .delete {
    visibility: hidden;
    width: 20px;
    transform: translate(35px, 3px);
    transition: .3s;
  }
  .deleteDark {
    display: none;
    visibility: hidden;
    width: 20px;
    transform: translate(35px, 3px);
    transition: .3s;
  }
  .delete-dark-mode {
    display: none !important;
  }
  .deleteDark-dark-mode {
    display: block;
  }
  .a-header, .tasks, .b-taskCreator, .a-header ~ section, .manager {
    width: 510px;
  }
  .manager {
    height: 51px;
    padding: 0 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: var(--VeryLightGray);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
  }
  .manager-actions {
    display: flex;
    width: fit-content;
    margin-top: 0px;
  }
  .manager-actions :nth-child(1) {
    margin-right: 15px;
  }
  .manager-actions :nth-child(3) {
    margin-left: 15px;
  }
  .c-tasksList {
    width: 510px;
  }
  .manager-dark-mode {
    background: var(--VeryDarkDesaturatedBlue);
  }
}
@media (min-width: 459px) and (max-width: 550px) {
  .a-header, .tasks, .b-taskCreator, .a-header ~ section, .manager {
    width: 420px !important;
  }
}