:root {
  /* Primary */
  --BrightBlue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  /* Neutral */
  /* Light Theme */
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
  /* Dark Theme */
  --VeryDarkBlue: hsl(235, 21%, 11%);
  --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlue: hsl(234, 39%, 85%);
  --LightGrayishBlueHover: hsl(236, 33%, 92%);
  --DarkGrayishBlue: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
  --VeryDarkGrayishBlue: hsl(237, 14%, 26%);
  /* Typography */
  /* Body Copy */
  --Font: 'Josefin Sans', sans-serif;
  --FontSize: 18px;
  /* Font */
  --W1: 400;
  --W2: 700;
}
.a-header {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  color: var(--VeryLightGray);
}
.a-header__title {
  letter-spacing: 15px;
}
.b-taskCreator {
  width: 510px;
  border-radius: 5px;
  background: var(--VeryLightGray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.circle {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  border: 1px solid var(--LightGrayishBlue);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.completed {
  background: var(--CheckBackground);
  border: none;
}
.b-taskCreator input {
  background: var(--VeryLightGray);
  font-size: var(--Font);
  font-weight: var(--W2);
  width: 85%;
  padding: 20px 0 15px;
  border: none;
  border-radius: 5px;
  cursor: text;
}
.b-taskCreator input:hover {
  cursor: pointer;
}
.b-taskCreator input:focus {
  cursor: text;
  caret-color: var(--BrightBlue);
  outline: 0;
}
.c-tasksList {
  margin-top: 40px;
}
.task0 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tasks {
  list-style: none;
  background: var(--VeryLightGray);
  width: 510px;
  height: 51px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 0;
  border-bottom: 1px solid var(--LightGrayishBlue);
  transition: .2s;
}
.tasks:hover .delete {
  visibility: visible;
  transform: translateX(0px);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.tasks :nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tasks p {
  color: var(--VeryDarkBlue);
  margin-left: 22px;
  width: 340px;
  font-weight: var(--W2);
  overflow: auto;
}
.tasks p del {
  opacity: 0.2;
}
.tasks p::-webkit-scrollbar {
  height: 3px;
}
.tasks p::-webkit-scrollbar-track {
  background: var(--LightGrayishBlue);
}
.tasks p::-webkit-scrollbar-thumb {
  background: var(--BrightBlue);
}
.delete {
  visibility: hidden;
  transform: translateX(50px);
  width: 0px;
  height: 0px;
  transition: .3s;
}
.manager {
  width: 510px;
  height: 51px;
  padding: 0 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: var(--VeryLightGray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.manager p {
  cursor: pointer;
  color: var(--LightGrayishBlue);
  font-weight: var(--W2);
}
.manager p:hover {
  color: var(--DarkGrayishBlue);
}
.manager p:active {
  color: var(--BrightBlue);
}
.manager-actions {
  display: flex;
}
.manager-actions p {
  margin-left: 20px;
}