@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Font);
}
body {
  background: var(--VeryLightGrayishBlue) url(./images/bg-desktop-light.jpg) no-repeat;
  background-size: 100% 250px;
}
#root {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding-bottom: 15px;
}
/* Body on dark mode */
.body-dark-mode {
  background: var(--VeryDarkBlue) url(./images/bg-desktop-dark.jpg) no-repeat;
  background-size: 100% 250px;
}
@media (max-width: 600px) {
  body {
    background: var(--VeryLightGrayishBlue) url(./images/bg-mobile-light.jpg) no-repeat;
    background-size: 100% 250px; 
  }
  .body-dark-mode {
    background: var(--VeryDarkBlue) url(./images/bg-mobile-dark.jpg) no-repeat; 
    background-size: 100% 250px;
  }
}